%h4= "Next Show & Tell"
%p= "coming soon..."
%h4= "Previous Show & Tell events"
%ul.show_and_tell
  %li= link_to "19.04.2012 @ Abbaye Neumünster", events_show_and_tell_past_20120419_path, :class => "btn btn-inverse"
  %li= link_to "06.09.2012 @ The Hub", events_show_and_tell_past_20120906_path, :class => "btn btn-inverse"

- if show_home
  %ul.show_and_tell
    %li= link_to "Show & Tell Events", events_show_and_tell_path, :class => "btn btn-info"
