.carousel.slide
  .carousel-inner
    .item
      = image_tag "slider/001.jpg"
      .carousel-caption
        %h4= link_to "Omniscient Being @ 2nd Betacube Event", "https://www.facebook.com/omniscientbeing"
    .item
      = image_tag "slider/002.jpg"
      .carousel-caption
        %h4= link_to "Thorben Grosser @ 2nd Betacube Event", "https://www.facebook.com/thorben.grosser"
    .item
      = image_tag "slider/003.jpg"
      .carousel-caption
        %h4="2nd Betacube Event @ The HUB Luxembourg"
    .item
      = image_tag "slider/004.jpg"
      .carousel-caption
        %h4="1st Betacube Event @ Abbaye Neumünster, Luxembourg"
    .item
      = image_tag "slider/005.jpg"
      .carousel-caption
        %h4= "Patrick Welfringer @ 1st Betacube Event"
    .item
      = image_tag "slider/006.jpg"
      .carousel-caption
        %h4= link_to "Hervé Weitz @ 1st Betacube Event", "https://www.weitz.lu"
    .item
      = image_tag "slider/007.jpg"
      .carousel-caption
        %h4= "Per-Frederik Hagermark @ 1st Betacube Event"
