- @page_title = "Community for Designers, Developers and Startups in the Luxembourg area"

.container
  .marketing
    %h1= "Community of web professionals."
    .row-fluid
      .span4
        = image_tag "community/designers.jpg"
        %h2= "Designers"
        %p
          = "Designing interfaces for the web of the future. Sketching mobile apps that will change the world. Expressing their feelings through stunning and creative pieces of art."
      .span4
        = image_tag "community/developers.jpg"
        %h2= "Developers"
        %p
          = "Electifying and putting life into awesome applications. Implementing the most complex business logics to be used by clients and colleagues on the web and mobile."
      .span4
        = image_tag "community/startups.jpg"
        %h2= "Startups"
        %p
          = "Starting small with breath-taking ideas. Reinventing old habits and revolutionising the way we work. Giving us great products & services to fix common problems."
  .marketing
    .row-fluid
      .span12
        .tags.hidden-phone.hidden-tablet
          %span.label.label-success= "Designers"
          %span.label.label-important= "Illustrators"
          %span.label.label-info= "Developers"
          %span.label.label-warning= "Startups"
          %span.label.label-success= "Entrepreneurs"
          %span.label= "Marketing Experts"
          %span.label.label-important= "Technology Envangelists"
          %span.label.label-inverse= "Web Nerds & Geeks"
        .tags.hidden-desktop
          %p.label.label-success= "Designers"
          %p.label.label-important= "Illustrators"
          %p.label.label-info= "Developers"
          %p.label.label-warning= "Startups"
          %p.label.label-success= "Entrepreneurs"
          %p.label= "Marketing Experts"
          %p.label.label-important= "Technology Envangelists"
          %p.label.label-inverse= "Web Nerds & Geeks"
%hr.soften
.container
  .marketing
    %h1= "What's going on"
    %p= "Latest news and happenings."
  .row-fluid.news

    .span4
      %h4= "Hyperlink Meetup #1"
      %p.date= "30.10.2013"
      .news_content
        %p= "We are proud to present the new and improved Meetup, called Hyperlink. The Hyperlink meetup is a themed meetup for web professionals specially interested in web development, new trends and best practices."
        %p= "When: 30. October 2013 @ 7PM"
        %p= "Where: Technoport at Esch/Belval"
        %p
          :plain
            <a href="http://www.betacube.eu/meetups/hyperlink" target="_new">Registration and event details</a>

    .span4
      %h4= "Betacube After Work"
      %p.date= "09.10.2013"
      .news_content
        %p= "Come and join us for a casual After-Work drink at the Independent Café in Luxembourg City."
        %p
          :plain
            <a href="https://www.facebook.com/pages/INDEPENDENT-Café/143388437066" target="_new">Independent Café</a> - 09.10.2013 @ 7PM

    .span4
      %h4= "Betacube After Work"
      %p.date= "11.07.2013"
      .news_content
        %p= "Come and join us for a casual After-Work drink at the Independent Café in Luxembourg City."
        %p
          :plain
            <a href="https://www.facebook.com/pages/INDEPENDENT-Café/143388437066" target="_new">Independent Café</a> - 11.07.2013 @ 7PM
