- @page_title = "Community for Designers, Developers and Startups in the Luxembourg area"

.container
  .marketing
    %h1= "The Betacube Community."
    .row-fluid
      .span4
        = image_tag "community/designers.jpg"
        %h2= "Designers"
        %p
          = "Designing interfaces for the web of the future. Sketching mobile apps that will change the world. Expressing their feelings through stunning and creative pieces of art."
      .span4
        = image_tag "community/developers.jpg"
        %h2= "Developers"
        %p
          = "Electifying and putting life into awesome applications. Implementing the most complex business logics to be used by clients and colleagues on the web and mobile."
      .span4
        = image_tag "community/startups.jpg"
        %h2= "Startups"
        %p
          = "Starting small with breath-taking ideas. Reinventing old habits and revolutionising the way we work. Giving us great products & services to fix common problems."
  .marketing
    .row-fluid
      .span12
        %p= "The Betacube association seeks to build a great and active community. We invite everyone to join us at our events to network and to share knowledge."
        .tags.hidden-phone.hidden-tablet
          %span.label.label-success= "Designers"
          %span.label.label-important= "Illustrators"
          %span.label.label-info= "Developers"
          %span.label.label-warning= "Startups"
          %span.label.label-success= "Entrepreneurs"
          %span.label= "Marketing Experts"
          %span.label.label-important= "Technology Envangelists"
          %span.label.label-inverse= "Web Nerds & Geeks"
        .tags.hidden-desktop
          %p.label.label-success= "Designers"
          %p.label.label-important= "Illustrators"
          %p.label.label-info= "Developers"
          %p.label.label-warning= "Startups"
          %p.label.label-success= "Entrepreneurs"
          %p.label= "Marketing Experts"
          %p.label.label-important= "Technology Envangelists"
          %p.label.label-inverse= "Web Nerds & Geeks"
%hr.soften
.container
  .marketing
    %h1= "What's going on"
    %p= "Latest news and happenings."
  .row-fluid.news
    .span4
      %h4= "Show & Tell #3 at the Technoport"
      %p.date= "18.04.2013"
      .news_content
        %p= "Betacube is holding their 3rd Show & Tell event at the Technoport (Esch/Belval) at the 18th of April 2013. It's the third edition of this community event giving the community a platform to present their self and connect with like minded web professionals from Luxembourg and the greater region."
      %p= link_to "Show & Tell #3", events_show_and_tell_past_20130418_path, :class => "btn btn-large btn-inverse btn-spanned"

    .span4
      %h4= "March Meetup @ The Impactory"
      %p.date= "20.03.2013"
      .news_content
        %p= "Save the date! Our march meetup is just around the corner."
        %p
          :plain
            Our next meetup will take place at <a href="http://www.theimpactory.com">The Impactory</a> on the 20th of march at 7PM. We will serve small snacks and drinks.
            Send an email to <a href="mailto:georges@betacube.eu">Georges</a> if you want to eat a pizza. 10€ per Pizza.
        %p
          :plain
            <strong>March 20th @ 7PM</strong>
      %p= link_to "Sign up for the march meetup", "http://www.techup.lu/564", :class => "btn btn-large btn-success btn-spanned"

    .span4
      %h4= "January Meetup @ The Impactory"
      %p.date= "17.01.2013"
      .news_content
        %p= "Save the date! Our january meetup is just around the corner."
        %p
          :plain
            This time we will meet at <a href="http://www.theimpactory.com">The Impactory</a> at 8PM.
            Be prepared for some casual networking and some fun.
        %p
          :plain
            <strong>January 23rd @ 8PM</strong>
      %p= link_to "Sign up for the january meetup", "http://www.techup.lu/493", :class => "btn btn-large btn-success btn-spanned"
