- @page_title = "Community for Designers, Developers and Startups in the Luxembourg area"

.container
  .marketing
    %h1= "Community of web professionals."
    .row-fluid
      .span4
        = image_tag "community/designers.jpg"
        %h2= "Designers"
        %p
          = "Designing interfaces for the web of the future. Sketching mobile apps that will change the world. Expressing their feelings through stunning and creative pieces of art."
      .span4
        = image_tag "community/developers.jpg"
        %h2= "Developers"
        %p
          = "Electifying and putting life into awesome applications. Implementing the most complex business logics to be used by clients and colleagues on the web and mobile."
      .span4
        = image_tag "community/startups.jpg"
        %h2= "Startups"
        %p
          = "Starting small with breath-taking ideas. Reinventing old habits and revolutionising the way we work. Giving us great products & services to fix common problems."
  .marketing
    .row-fluid
      .span12
        .tags.hidden-phone.hidden-tablet
          %span.label.label-success= "Designers"
          %span.label.label-important= "Illustrators"
          %span.label.label-info= "Developers"
          %span.label.label-warning= "Startups"
          %span.label.label-success= "Entrepreneurs"
          %span.label= "Marketing Experts"
          %span.label.label-important= "Technology Envangelists"
          %span.label.label-inverse= "Web Nerds & Geeks"
        .tags.hidden-desktop
          %p.label.label-success= "Designers"
          %p.label.label-important= "Illustrators"
          %p.label.label-info= "Developers"
          %p.label.label-warning= "Startups"
          %p.label.label-success= "Entrepreneurs"
          %p.label= "Marketing Experts"
          %p.label.label-important= "Technology Evangelists"
          %p.label.label-inverse= "Web Nerds & Geeks"
%hr.soften
.container
  .marketing
    %h1= "What's going on"
    %p= "Latest news and happenings."
  .row-fluid.news

    .span4
      %h4= "Betacube Hyperlink Meetup #4"
      %p.date= "10.06.2014"
      .news_content
        %p= "Join the Hyperlink meetup and have a great evening talking about the latest happenings in the web development world while holding a juicy beverage."
        %p= "When: 10. December 2014 @ 7PM"
        %p= "Where: Technoport Esch/Belval"
        %p
          :plain
            <a href="http://www.betacube.eu/meetups/hyperlink_4"> Registration and event details</a>

    .span4
      %h4= "Betacube After Work"
      %p.date= "08.10.2014"
      .news_content
        %p= "Get ready for some AfterWork action!"
        %p= "Join us for a cold/hot beverage and meet fellow web professionals from Luxembourg and the Greater Region."
        %p= "When: 8. October 2014 @ 7PM"
        %p= "Where: Independent Cafe in Luxembourg"
        %p
          :plain
            <a href="http://www.techup.lu/472" target="_new">Registration and event details</a>

    .span4
      %h4= "Betacube Hyperlink Meetup #3"
      %p.date= "10.06.2014"
      .news_content
        %p= "Join the Hyperlink meetup and have a great evening talking about the latest happenings in the web development world while holding a juicy beverage."
        %p= "When: 10. June 2014 @ 7PM"
        %p= "Where: Technoport Esch/Belval"
        %p
          :plain
            <a href="http://www.betacube.eu/meetups/hyperlink_3"> Registration and event details</a>
