- @page_title = "About"
- @page_sub_title = "It's all about the community"

.row-fluid.pages
  .span9
    %h4= "How it all began"
    %p
      :plain
        It all started in 2010 when <strong>Charel Buchler</strong> and <strong>Georges Jentgen</strong> first talk about a new idea over Skype.
    %p
      :plain
        The main goal was quite simple: <strong>“Build a community for Developers, Designers and Startups”</strong>. We started developing so many different ideas on how to achieve this. We talked about weekly/monthly <strong>meetups, conferences, barcamps, and more</strong>. We were immediately sure that these ideas could all work. But it was only in the beginning of 2011 that we jump-started our project <strong>Betacube</strong>.
    %p= "We began with some field research. We tried to get an idea of how big this community could become and if there is any interest at all. It was a blast to see all the great reactions to our idea. It was a truly inspiring time."
    %p
      :plain
        We were finally ready to give life to Betacube, thanks to the help from <strong>Christian Biever</strong>. His knowledge on setting up the association helped us keeping our heads clear to focus on our ideas.
    %p
      :plain
        In early 2012 we then started to organize our first event. We decided to go with a <strong>Show and Tell event</strong>. We worked hard to get the first one ready in April. We had limited seats, which were sold out in less then <strong><em>6 hours</em></strong>. It was a huge success and a great start.
    %p
      :plain
        After that we organized our first <strong>meetups</strong>. Those <strong>meetups</strong> are usually held in a bar in Luxembourg City and everyone is welcome to join. It’s a great way to network with like-minded people and have a beer or two.
    %p= "But this is not where we stop, We will write more history!"
    %h4= "Goals"
    %p.strong= "Build a community for Developers, Designers and Startups"
    %p= "We are very proud to already have achieved a big part of our goal. We believe that we already built the first cornerstones for this new community. We have already a great user base and our events are always filled to the rooftop. This is a great success we are going to build upon."
    %h4= "Community"
    %p= "The betacube community is a very diverse community. But we all share the same passion. Web, new medias and technology. As all of them cannot coexist with the other anymore, we are a strong believer that we should bring them all together as close as possible."
    %p= "We already have a huge user base, covering all but not exclusively:"
    %ul
      %li= "Web & Application Developers"
      %li= "Graphic Designers, Illustrators"
      %li= "Marketeers, Social Media consultants"
      %li= "Entrepreneurs, Start-Ups"
      %li= "and more"
  .span3
    %h4= "In a nutshell"
    %ul
      %li= "First ideas in 2010"
      %li= "Founded in 2011"
      %li= "1st Show & Tell in April 2012"
      %li= "2st Show & Tell in September 2012"
      %li= "Already over 4 meetups in 2012"
%br
.row-fluid
  .span12
    %h4= "Team"
    %ul.thumbnails
      %li.span2
        .thumbnail
          = image_tag "team/charel.jpg"
          .caption
            %h5= "Charel Buchler"
            %ul.roles
              %li= "Co-Founder"
              %li= "Product & Marketing"
              %li= "Event-Organization"
            %ul.contact
              %li.email= link_to "charel@betacube.eu", "mailto:charel@betacube.eu"
              %li.linkedin= link_to "http://de.linkedin.com/pub/charel-büchler/30/2a4/aa3/en", "http://de.linkedin.com/pub/charel-büchler/30/2a4/aa3/en"
              %li.facebook= link_to "https://www.facebook.com/azunix", "https://www.facebook.com/azunix"
              %li.twitter= link_to "@cbuchler", "http://twitter.com/cbuchler"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/georges.jpg"
          .caption
            %h5= "Georges Jentgen"
            %ul.roles
              %li= "Co-Founder"
              %li= "Development"
              %li= "Event-Organization"
            %ul.contact
              %li.email= link_to "georges@betacube.eu", "mailto:georges@betacube.eu"
              %li.linkedin= link_to "http://www.linkedin.com/pub/georges-jentgen/21/84a/b59", "http://www.linkedin.com/pub/georges-jentgen/21/84a/b59"
              %li.facebook= link_to "https://www.facebook.com/georges.jentgen", "https://www.facebook.com/georges.jentgen"
              %li.twitter= link_to "@polysign", "http://twitter.com/polysign"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/christian.jpg"
          .caption
            %h5= "Christian Biever"
            %ul.roles
              %li= "Co-Founder"
              %li= "Finances"
              %li= "Event-Organization"
            %ul.contact
              %li.email= link_to "christian@betacube.eu", "mailto:christian@betacube.eu"
              %li.linkedin= link_to "http://www.linkedin.com/pub/christian-biever/4b/355/5b8", "http://www.linkedin.com/pub/christian-biever/4b/355/5b8"
              %li.facebook= link_to "https://www.facebook.com/Reveib", "https://www.facebook.com/Reveib"
              %li.twitter= link_to "@christianbiever", "http://twitter.com/christianbiever"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/david.jpg"
          .caption
            %h5= "David Schloesser"
            %ul.roles
              %li= "Supporting Member"
            %ul.contact
              %li.email= link_to "david@betacube.eu", "mailto:david@betacube.eu"
              %li.facebook= link_to "https://www.facebook.com/schloesser.david", "https://www.facebook.com/schloesser.david"
              %li.twitter= link_to "@schloesserdavid", "http://twitter.com/chloesserdavid"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/ptah.jpg"
          .caption
            %h5= "Ptah Dunbar"
            %ul.roles
              %li= "Communications & Social Media"
            %ul.contact
              %li.email= link_to "charel@betacube.eu", "mailto:charel@betacube.eu"
              %li.linkedin= link_to "http://www.linkedin.com/in/ptahdunbar", "http://www.linkedin.com/in/ptahdunbar"
              %li.facebook= link_to "https://www.facebook.com/ptahdunbar", "https://www.facebook.com/ptahdunbar"
              %li.twitter= link_to "@ptahdunbar", "http://twitter.com/ptahdunbar"
            %br.clear

%br
.row-fluid
  .span12
    %h4= "Friends"
    %ul.thumbnails
      %li.span2
        .thumbnail
          = image_tag "team/gilles.jpg"
          .caption
            %h5= "Gilles Poulles"
            %ul.roles
              %li= "Friend and Supporter"
            %ul.contact
              %li.twitter= link_to "@gillespoulles", "https://twitter.com/gillespoulles"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/thierry.jpg"
          .caption
            %h5= "Thierry Nicola"
            %ul.roles
              %li= "Friend and Supporter"
            %ul.contact
              %li.twitter= link_to "@littleiffel", "https://twitter.com/littleiffel"
            %br.clear

      %li.span2
        .thumbnail
          = image_tag "team/herve.jpg"
          .caption
            %h5= "Hervé Weitz"
            %ul.roles
              %li= "Friend and Supporter"
            %ul.contact
              %li.twitter= link_to "@weitzh", "http://twitter.com/weitzh"
            %br.clear
      %li.span2
        .thumbnail
          = image_tag "team/isabelle.jpg"
          .caption
            %h5= "Isabelle Naegelen"
            %ul.roles
              %li= "Friend and supporter"
            %ul.contact
              %li.facebook= link_to "https://www.facebook.com/isabelle.jn", "https://www.facebook.com/isabelle.jn"
            %br.clear
