- @page_title = "Student's Fair"
- @page_sub_title = "LuxExpo 15.11.2012 - 16.11.2012"

.row-fluid.pages
  .span9
    %h4= "Student's Fair"
    %p= "Betacube will be present at this year's Student's Fair at the LuxExpo at Kirchberg."
    %p= "We will support the Luxembourgish government on their booth to inform young students about web-related professions."
    %p= "Feel free to contact us if you are interested to support us on the booth and present your profession."
  .span3
    %ul.show_and_tell
      %li= link_to "Ministère de l'éducation", "http://www.men.public.lu", :class => "btn btn-info", :target => "_blank"
      %li= link_to "LuxExpo Kirchberg", "http://www.luxexpo.lu", :class => "btn btn-info", :target => "_blank"