- @page_title = "Meetups"

.row-fluid.pages
  .span6
    %h4= "Meetups"
    %p= "Meetups are casual get-togethers planned a couple of weeks in advance. The goal of the meetups is to network and have a good time."
    %p= "There is no schedule and no facilitation. Everyone is invited to join for a couple of beers at a local pub."
  .span6
    %h4= "Upcoming Meetups"
    %ul.meetups
      - if @meetups.second.empty?
        %p= "No upcoming meetups planned."
      - @meetups.second.compact.each do |meetup|
        = render "shared/meetups/meetup", :meetup => meetup
    %h4= "Past Meetups"
    %ul.meetups
      - @meetups.first.compact.each do |meetup|
        = render "shared/meetups/meetup", :meetup => meetup
