- @page_title = "Show & Tell"
- @page_sub_title = "Show & Tell @ Technoport"

.row-fluid.pages
  .span9
    %h4= "17.01.2013"
    %p= "Our next Show & Tell event is being planned... stay tuned"
    %hr.soften.small
    .row-fluid
      .span3
        %h4= "Location"
        %ul.location
          %li= "Technoport"
          %li= "Belval / Esch-sur-Alzette"
      .span9
        %h4= "Speakers"
        %dl.speakers
          %dt= "..."

  .span3
    = render "shared/show_and_tell/menu", :show_home => true
