- @page_title = "Show & Tell"
- @page_sub_title = "Show & Tell @ The Technoport"

.row-fluid.pages
  .span9
    %h4= "18.04.2013"
    %p= "Save the date! We are heading towards our next Show & Tell event. Taking place at the Technoport in Esch/Belval, this will be our biggest event ever."
    %hr.soften.small
    .row-fluid
      .span3
        %h4= "Location"
        %ul.location
          %li= "Technoport"
          %li= "Esch/Belval"
      .span8
        %h4= "Speakers"
        %dl.speakers
          %dt= "Hervé Weitz"
          %dd= "Sell Your Mess"
    %hr.soften.small

  .span3
    = render "shared/show_and_tell/menu", :show_home => true
