- @page_title = "Hyperlink Meetup #1"

.row-fluid.pages
  .span9
    %h3= "Hyperlink - 30.10.2013"
    %p= "Betacube is proud to present the new and improved Meetup, called Hyperlink. As part of our support to the local and growing web professionals community, we are holding this event at the Technoport in Esch-Belval. Giving us more space and more freedom to hold the best possible events."
    %p= "The Hyperlink meetup is a themed meetup for web professionals specially interested in web development, new trends and best practices."
    %p= "Join the Hyperlink meetup and have a great evening talking about the latest happenings in the web development world while holding a juicy beverage."
    %p= ""

  .span9
    %h4= "Schedule"
    %ul
      %li= "18:30 - Doors open"
      %li= "19:00 - Introduction"
      %li= "19:30 - Presentations by Community Members (tba)"
      %li= "20:00 - Dinner & Networking"

  .span9
    %h4= "Registration"
    %p
      :plain
        <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=7517082797&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/event/7517082797?ref=etckt">Hyperlink #1</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

    %h4= "Meetup Details"
    %ul
      %li= "Language: mainly English"
      %li= "Want to share/demonstrate an idea/project/application? Contact us!"
      %li= "Event location: Technoport"
    %h4= "Sponsors"
    %p= "If you are interested in sponsoring this or future events, feel free to contact us: georges@betacube.eu"