- @page_title = "Hyperlink Meetup #2"

.row-fluid.pages
  .span9
    %h3= "Hyperlink - 15.01.2014"
    %p= "The Hyperlink meetup is a themed meetup for web professionals specially interested in web development, new trends and best practices."
    %p= "Join the Hyperlink meetup and have a great evening talking about the latest happenings in the web development world while holding a juicy beverage."
    %p= ""

  .span9
    %h4= "Schedule"
    %ul
      %li= "19:30 - Doors open"
      %li= "20:00 - tba"
      %li= "21:00 - Dinner & Networking"

  .span9
    %h4= "Registration"
    %p
      :plain
        <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=9823330847&ref=etckt&v=2" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/hyperlink-2-tickets-9823330847?ref=etckt">Hyperlink #2</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

    %h4= "Meetup Details"
    %ul
      %li= "Language: mainly English"
      %li= "Want to share/demonstrate an idea/project/application? Contact us!"
      %li= "Event location: Technoport"
    %h4= "Sponsors"
    %p= "If you are interested in sponsoring this or future events, feel free to contact us: georges@betacube.eu"