- @page_title = "Hyperlink Meetup #3"

.row-fluid.pages
  .span9
    %h3= "Hyperlink - 10.06.2014"
    %p= "The Hyperlink meetup is a themed meetup for web professionals specially interested in web development, new trends and best practices."
    %p= "Join the Hyperlink meetup and have a great evening talking about the latest happenings in the web development world while holding a juicy beverage."

  .span9
    %h4= "Schedule"
    %ul
      %li= "19:00 - Doors open"
      %li= "20:00 - Introduction & Welcome"
      %li
        = "20h30 -"
        %strong Web Components
        =", presented by Mathieu Tanguay-Carel (@matstc) Patrick Beer"
      %li= "21:00 - Dinner & Networking"
      %li= "22:30 - End"

  .span9
    %h4= "Registration"
    %p
      :plain
        <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10638892213&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/hyperlink-3-tickets-10638892213?ref=etckt">Hyperlink #3</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

    %h4= "Meetup Details"
    %ul
      %li= "Language: mainly English"
      %li= "Want to share/demonstrate an idea/project/application? Contact us!"
      %li= "Event location: Technoport"
    %h4= "Sponsors"
    %h5 We are proud to have the Technoport as our main sponsor for this event. Check out their website to learn more about the Technoport and its mission: www.technoport.lu
